/**
 * Style for the about page
 * 
 * @version 05.09.2024
 * 
 * @author Arthur Junod, Guillaume Dunant, Valentin Bonzon, Edwin Haeffner
*/

.about-container {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 15px;
    margin-top: 15px;
}

@media screen and (max-width: 700px) {
    
    .about-container{
        width: 90%;
        margin-left: 5%;
    }
}