.square {
    border-radius: 20px;
    height: 98%;
    width: 14%;
    margin: 1px;
}

.stack-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    margin-left: calc(15% - 10px);

    height: 80px;
    width: 70%;

    background-color: var(--white-orange);
}

.red {
    background-color: red;
}

.blue {
    background-color: blue
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}