.square {
    border-radius: 20px;
    height: 98%;
    width: 14%;
    margin: 1px;
}

.stack-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    min-height: 80px;

    background-color: var(--white-orange);
}

.attack {
    background-color: var(--attack);
}

.medium {
    background-color: var(--medium)
}

.easy {
    background-color: var(--easy);
}

.hard {
    background-color: var(--hard);
}