.square {
    border-radius: 20px;
    height: 100%;
    width: 20px
}

.stack-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 80px;
    width: 400px;
    background-color: var(--white-orange);
}

.red {
    background-color: red;
}

.blue {
    background-color: blue
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}