#attack-button {
    padding: 10px;
    align-self: stretch;
    border-radius: 6px;
    font-weight: bolder;
}

#flame-img {
    height: 50px;
    width: 40px;
}

.img-container {
    position: relative;
    text-align: center;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

.orange-fade {
    background-image: linear-gradient(#f9efe6, #fe8c43);
}

.red-fade {
    background-image: linear-gradient(#ffe9e5, #fd300c);
}