#flame-img {
    height: 50px;
    width: 40px;
}

.stat-container {
    background-color: var(--white-orange);
}

.img-container {
    position: relative;
    text-align: center;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

