/**
 * Style for the waiting page
 * 
 * @version 05.09.2024
 * 
 * @author Arthur Junod, Guillaume Dunant, Valentin Bonzon, Edwin Haeffner
*/

.waiting-container{
    width: 200px;
    height: 100px;
}

.quick-rule {
    border: 1px;
    border-style: solid;
    margin-top: 20px;
    padding: 5px;
    max-width: 70vw;
}
