.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rounded-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    border-radius: 8px;
    width: 300px;
    height: 150px;
    align-self: center;
    background-color: white;
}

button {
    background-color: #fcae59;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: none;
    align-self: center;
    color: white;
}

button:disabled {
    background-color: #fcad599a;
}

img {
    align-self: center;
}

p {
    align-self: center;
}

body {
    height: 100vh;
    background-image: linear-gradient(#4f598c, #f18847);
}